
<table class="table align-middle mb-0 bg-white">
   

    <thead class="bg-light">
      <tr>
        <th>Car model</th>
        <th>Company</th>
        <th>Status</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Audi Q8</p>
              <p class="fw-bold mb-1">sanup kumar</p>
              
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">the Volkswagen Group</p>
          <p class="text-muted mb-0">price range of ₹ 1.03 - 1.40 Crore</p>
        </td>
       
        <td>Sold</td>
      
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://cdn.carsandcoffee.com.sg/web/brandnew/sub/oJceW288S6iJIPjzXKYe/ferrari-roma-cars-and-coffee-singapore-01_1440x1440.jpg?alt=media&token=4b5b0d29-c2d1-45ab-afb8-828c87ddcacb"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1"> Ferrari Roma</p>
              <p class="fw-bold mb-1">Gnanendra</p>
              
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Fiat Chrysler Automobiles</p>
          <p class="text-muted mb-0"> Rs. 3.76 Cr*</p>
        </td>
       
        <td>Sold</td>
       
       
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://imgd.aeplcdn.com/0x0/cw/ec/37065/BMW-X5-Right-Front-Three-Quarter-157119.jpg?wm=0"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">BMW x7</p>
              <p class="fw-bold mb-1">manoj kumar</p>
              
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Bayerische Motoren Werke AG</p>
          <p class="text-muted mb-0">Rs. 1.16  to 1.76Cr*</p>
        </td>
       
        <td>Sold</td>
       
      </tr>
    </tbody>
  </table>