
<div class="container">
<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC011A021001.jpg&width=440&height=262" alt="Alternate Text" class="img-fluid"/>
      <a href="#!">
        <div ><h3>HONDA ACCORD LX</h3></div>
        <div><h4>base price=$28,000.00</h4></div>
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <input name="" class="form-control my-2" placeholder="Enter your Bidding price" type="number">
    <button type="button" class="btn btn-primary btn-lg"
    style="padding-left: 2.5rem; padding-right: 2.5rem;">Bid</button>
</div> 
</div>
<!-- form-group// -->
<div class="container">
<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="https://imgd.aeplcdn.com/0x0/n/cw/ec/45691/marutisuzuki-dzire-right-front-three-quarter8.jpeg" alt="Alternate Text" class="img-fluid"/>
      <a href="#!">
        <div ><h3>NEXA</h3></div>
        <div><h4>base price=$28,000.00</h4></div>
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <input name="" class="form-control my-2" placeholder="Enter your Bidding price" type="number">
    <button type="button" class="btn btn-primary btn-lg"
    style="padding-left: 2.5rem; padding-right: 2.5rem;">Bid</button>
</div>
</div>
 <!-- form-group// -->
 <div class="container">
<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5pkMrikN2SsgiIx3v-7-ll0wYIkSxw0ZDXA&usqp=CAU" alt="Alternate Text" class="img-fluid"/>
      <a href="#!">
        <div ><h3>SAFARI</h3></div>
        <div><h4>base price=$28,000.00</h4></div>
        
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <input name="" class="form-control my-2" placeholder="Enter your Bidding price" type="number">
    <button type="button" class="btn btn-primary btn-lg"
    style="padding-left: 2.5rem; padding-right: 2.5rem;">Bid</button>
</div> 
</div>
<!-- form-group// -->


